# ========================
# mysetting
# ========================
stg_20170106/
*.exe
*.ilk
*.map
*.o
*.obj
*.pdb
*.d
*.exe
*.out
*.stackdump
*.ico
*.sdf
*.res
*.sln
*.vs
*.bmp
*.opendb
*.bak

*.wav
*.mp3
*.midi
*.mid

# *.dat
# *.csv
# *.pdf
# *.png
# *.jpg

# ========================
# Middle output files
# ========================
~*
*~
'*
*'
